.bodyabout2 {
}

.contenair {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #3a54a838;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  /*justify-content: space-between;*/

  margin-right: 30px;
  background: linear-gradient(130deg, #768fa0, #abaaaf);
  border-radius: 10px;
  justify-content: space-between;
}
.contenair > .picture {
  width: 95%;
  margin-bottom: 5px;
}
.contenair.picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .contenair .name {
  justify-content: center;
  align-items: center;
  text-align: center;
}*/
.contenair > .text {
  padding: 0px 15px;
}
