.bodyabout {
  width: 100%;
  background: linear-gradient(130deg, #89b4d1, #544a8a);
}
.bodyabout .about-us {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 30px;
}
.bodyabout > .about-us > .title {
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  font-family: Verdana, Tahoma, sans-serif;
}
.bodyabout > .about-us > .spane {
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
}

.bodyabout > .about-us > .members {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  /* width: 100%; */
}
