.addpostcont {
  margin: auto;
  padding: 15px;
  width: 500px;
  /*height: 50px;*/
  align-items: center;
  margin-top: 50px;
  border: 2px solid blue;
}
.black {
  background: #181818;
  color: white;
}
.picture {
  width: 1320px;
  height: 300px;
  display: inline-flex;
  margin-left: 10px;
  margin-top: 5px;
}
.picture > img {
  width: 100%;
  height: 100%;
}
.subcontpost {
  border-bottom: 1px solid black;
}
