.homepage {
  display: flex;
  flex-direction: column;
}

.homepage .contenairehome .posts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  color: azure;
}
.homepage .contenairehome .posts .image_comment {
  display: flex;
  border-bottom: 9px solid white;
  background: #002d62;
}
.homepage .contenairehome .posts .image_comment .comment {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 100px;
  margin-right: 100px;
}
.homepage .middle {
  background: blueviolet;
  align-items: center;
  justify-content: space-between;
}

.homepage .middle :hover {
  background: rgb(182, 86, 171);
  height: 300px;
  color: wheat;
  text-align: center;
  font-size: 100px;
}
.map {
  height: 300px;
}
.postgen {
  display: flex;
}
.comment {
  margin-left: 40px;
  border-bottom: 5px solid #888;
}
.comment > .commentpart {
  border-bottom: 1px solid #888;
}

@media screen and (max-width: 768px) {
  .commentpart h4 {
  }
}
