.profile {
}
.profile .contenaireprofil {
  display: flex;
  flex-direction: column;
}
.profile > .contenaireprofil > .info {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile > .contenaireprofil > .picture {
  width: 100%;
  height: 300px;
  margin-left: 10px;
  margin-top: 5px;
}
.profile > .contenaireprofil > .picture > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile > .contenaireprofil > .navbar {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #002d62;
  color: white;

  height: 70px;
  font-size: 25px;
}
.profile > .contenaireprofil > .navbar > ul {
  margin-left: 20px;
  justify-content: space-between;
}
.actual > .tile {
  margin-top: 5px;
  border: 1px solid black;
}
.actual > .posts_user {
  background: white;
  display: flex;
  flex-direction: column;
}
.subposts_user {
  /*height: 300px;*/
}

.posts_user {
}
.subposts_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subposts_user > .subpostsub {
  border: 1px solid rgb(0, 0, 0, 0.3);
  width: 60%;
  padding-left: 50px;
  margin: 10px 20px;
}
.subpostsub > h4 {
  font-weight: 600;
}
.buttondesign {
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-50px);
  margin: 20px 0px;
}
.buttondesign.deletebutton {
  background: red;
}
.subposts_user > .commentpost {
  margin-right: 30px;
}
.commentpost > .commentsubpost {
  border-bottom: 1px solid #000;
}
