.card-containerpost {
  position: relative;
}
.card-containerpost > h1 {
  text-align: center;
}
.card-elementspost {
  display: flex;
  flex-direction: column;
}
.cardpost {
  display: flex;

  background: #002d62;
}
.card-text > p {
  padding: 10px;
}
.card-text > h3 {
  padding: 10px;
}
.image-container {
  width: 100%;
}
.image-container > img {
  width: 100%;
}
.sectionpost {
  width: 75%;
  text-align: center;
  padding: 10px 0px;
  margin: 20px;
  color: wheat;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
sectionpost {
  width: 300px;
  text-align: center;
  padding: 10px 0px;
  margin: 20px;
}
button {
  width: 100px;
  padding: 5px 0px;
  border-radius: 20px;
  border: none;
  background-color: #002d62;
  color: white;
  font-weight: 600;
}
